$mail-bg: #dbdde1;
$mail-main-bg: white;

.container-m {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.body {
	background-color: $mail-bg;
}
.mail {
	background-color: $mail-main-bg;
	.mail-header {
		height: 117px;
		padding-left: 30px;
		padding-right: 30px;
		&__logo {
			height: 100%;
			width: 110px;
		}
	}
	.footer {
		&__body {
			height: auto;
		}
		&__tag {
			font-size: 20px;
		}
	}
}