$text-light: #fff;
$text-dark: #333333;
$text-white: #fff;
$text-first: #e75125;
$text-primary: #00aae7;
$text-disable: #666666;

$linked-color: #00aae7;

$bg-white: #fff;
$bg-primary: #00aae7;
$bg-first: #e75125;
$bg-first-hovered: #c94923;
$bg-gray: #f4f4f4;
$bg-circle: #00aae7;
$bg-bord: #cccccc;
$bg-footer: #f2f2f2;
$table-border: #e6e6e6;

$ff-narrow: 'PT Sans Narrow', sans-serif;
$ff-regular: 'PT Sans', sans-serif;
$fs-main: 17px;


.fs-35 {
	font-size: 35px !important;
}